.feed-form {
   margin-top: 36px;
   display: flex;
   flex-direction: column;
   max-width: 303px;
   input{
      margin-bottom: 11px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 66px;
      height: 54px;
      padding: 0px 0px 0px 21px;
      border-radius: 7px;
      }
   
   button{
      height: 58px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: white;
      border-radius: 7px;
      background: #C70101;
   }
}
.error{
   box-shadow: 0 0 15px red;
}



